# Start with: frankenphp run

{
    admin off
    frankenphp {
        worker {
            file public/frankenphp-worker.php
        }
    }
}

localhost {
    root * public
    encode zstd br gzip
    php_server {
        try_files {path} frankenphp-worker.php
    }
    file_server
}
